.upload-form-wrapper{
  margin-top: 5%;
  margin-left: 5%;
}

.upload-form-wrapper h4{
  margin-left: 0%;
}

form{
  margin-top: 5%;
}

.video-description{
  margin-top: 3%;
}

.video-description input[type="text"] {
  color: white;
}

.choose-video{
  margin-top: 5%;
  margin-bottom: 5%;
}

.choose-video input{
  size: 21;
}

.cancel-submit{
  margin-top: 10%;
}

.cancel{
  float: left;
}

.submit{
  margin-left: 20%;
}
